.Carousel {
  height: 400px;
}
.Title {
  font-size: large;
  font-style: italic;
  font-weight: bolder;
}
.Footer {
  height: 300px;
  background-color: rgb(33, 37, 41);
  color: aliceblue;
}
.Footer-Icon {
  max-width: 80%;
  height: auto;
}
